.current {
  color: green;
}
.site-logo {
  padding: 1px;
  position: absolute;
  top: 0px;
  right: 0px;
}
body {
  font-family: system-ui,fangsong,monospace;
  color: #430319;
  padding-right: 240px;
}
